::ng-deep{
  .p-slider{
    background: #c4c4c413;
  }
  .p-slider .p-slider-range { 
    background: #c4c4c448; 
  } 
  .p-slider .p-slider-handle {
    border: none;
    background: #c4c4c442; 
  }
}
.player-toolbar__range__width {
  width: 70rem;
}

